<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center">
            <h4>{{'ExpenseDetails'  | translate}}</h4>
        </div>
    </div>
    <form [formGroup]="expenseForm">
        <div class="row">
            <div class="col-12">
                <input type="text" formControlName="description" class="app-form-input"
                    [placeholder]="'Description' | translate" />
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <input type="text" mask="00/00/0000" [dropSpecialCharacters]="false"
                    [formControl]="expenseForm.get('date')" class="app-form-input" [placeholder]="'Date' | translate" />
            </div>
            <div class="col-6">
                <input currencyMask [formControl]="expenseForm.get('value')" class="app-form-input"
                    [placeholder]="'Value' | translate" />
            </div>
        </div>
        <div>
            <button [disabled]="!expenseForm.valid" (click)="addOrUpdate()" class="btn btn-success btn-lg">
                {{action}}
            </button>
            &nbsp;
            <button class="btn btn-warning btn-lg" [routerLink]="['/']">
                {{'Cancel' | translate}}
            </button>
        </div>
    </form>
</div>