<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center">
            <h4>{{'ExpenseDetails'  | translate}}</h4>
        </div>
    </div>
    <form [formGroup]="expenseForm">
        <div class="row">
            <div class="col-12">
                <input type="text" formControlName="description" class="app-form-input" placeholder="Description" />
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <input type="date" formControlName="date" class="app-form-input" placeholder="Date" />
            </div>
            <div class="col-6">
                <input currencyMask formControlName="value" class="app-form-input" placeholder="Value" />
            </div>
        </div>
        <div>
            <button [disabled]="!expenseForm.valid" (click)="addOrUpdate()" class="btn btn-success btn-lg">
                {{action}}
            </button>
            &nbsp;
            <button class="btn btn-warning btn-lg" [routerLink]="['/']">
                Cancel
            </button>
        </div>
    </form>
</div>