.options-row {
    margin-bottom: 10px;
}

@media only screen and (min-width : 560px) {
    .add-button-wrapper {
        text-align: right;
    }
}

// Mobile First
#mobile-list {
    display: block;
}

#desktop-list {
    display: none;
}


@media only screen and (min-width: 768px) {
    #mobile-list {
        display: none;
    }

    #desktop-list {
        display: block;
    }
}

.card {
    margin-bottom: 10px;
}