<div class="container-fluid">
    <div class="row options-row">
        <div class="col-xs-12 col-sm-6">
            <h4>
                {{'ExpenseList' | translate}}
            </h4>
        </div>
        <div class="col-xs-12 col-sm-6 add-button-wrapper">
            <button class="btn btn-success" [routerLink]="['add']">
                {{'Add' | translate}}
            </button>
        </div>
    </div>
    <div class="row m-10" id="desktop-list">
        <div class="col-12">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">{{'Date' | translate}}</th>
                        <th scope="col">{{'Description' | translate}}</th>
                        <th scope="col">{{'Value' | translate}}</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let expense of expenses">
                        <th scope="row">{{expense.id}}</th>
                        <td>{{expense.date | date}}</td>
                        <td>{{expense.description}}</td>
                        <td>{{expense.value | currency}}</td>
                        <td class="text-right">
                            <button class="btn btn-sm btn-primary" [routerLink]="['edit', expense.id]">
                                {{'Details' | translate}}
                            </button>
                            &nbsp;
                            <button class="btn btn-sm btn-danger" (click)="remove(expense)">
                                {{'Remove' | translate}}
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row m-10" id="mobile-list">
        <div class="col-12">
            <div class="card" *ngFor="let expense of expenses">
                <div class="card-body">
                    <h5 class="card-title">{{expense.description}}</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{expense.date | date}}</li>
                    <li class="list-group-item">{{expense.value | currency}}</li>
                </ul>
                <div class="card-body text-right">
                    <button class="btn btn-primary"
                        [routerLink]="['edit', expense.id]">{{'Details' | translate}}</button>
                    &nbsp;
                    <button class="btn btn-danger" (click)="remove(expense)">{{'Remove' | translate}}</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="expenses.length == 0">
        <div class="col-12 text-center">
            {{'NoData' | translate}}
        </div>
    </div>
</div>