<div class="cont">
    <div class="form">
        <form [formGroup]="loginForm">
            <h1>ExpenseHub</h1>
            <input type="text" formControlName="username" class="user" i18n-placeholder="@@username"
                placeholder="Username" />
            <input type="password" formControlName="password" class="pass" i18n-placeholder="@@password"
                placeholder="Password" />
            <button class="login" [disabled]="!loginForm.valid" (click)="login()" i18n="@@login">Login</button>
        </form>
    </div>
    <div class="row text-center">
        <div class="col-sm-6">
            <div class="btn" (click)="_authService.registerCulture('pt-BR')">
                PT
            </div>
        </div>
        <div class="col-sm-6">
            <div class="btn" (click)="_authService.registerCulture('en-ES')">
                EN
            </div>
        </div>
    </div>
</div>